
.HomePage-message{
  margin: 5px 0 0 10px;
}

.entryCommand{
  margin: 5px 0 0 10px;
  display: inline-flex;
}

.root{
  color: rgb(255, 57, 57);
  font-weight: bold;
  margin-right: 10px;
}

.installing{
  display: flex;
  margin-left: 10px;
}
.hidden{
  display: none;
}

@media screen and (max-width: 900px){
  .menu-bar-container span{
    font-size: 80%;
  }
  .button-menu button{
    width: 15px;
    height: 15px;
  }
  
}

@media screen and (min-width: 2300px){}